.project-main-image {
  width: 200px;
  max-width: 90%;
  height: auto;
  display: block;
  margin: 20px auto;
}

.project-image {
  width: 250px;
  max-width: 90%;
  height: auto;
  display: block;
  margin: 20px auto;
}
